[Unit]
Description=Weekly DCA deposit - automated using crypto-bot
Wants=deposit.timer

[Service]
WorkingDirectory=/home/efuerstenberg/deposit/src
TimeoutStartSec=0
ExecStart=/usr/bin/python3 /home/efuerstenberg/deposit/src/deposit.py
User=efuerstenberg

[Install]
WantedBy=deposit.target