[Unit]
Description=automation for weekly dca deposit
Wants=deposit.timer

[Service]
TimeoutStartSec=0
ExecStart=python3 /crypto-bot/src/deposit.py
User=efuerstenberg

[Install]
WantedBy=deposit.target