[Unit]
Description=eric-buy-btc systemd service.

[Service]
Type=simple
ExecStart=/bin/bash /usr/bin/eric-buy-btc.sh
User=efuerstenberg

[Install]
WantedBy=multi-user.target